* { 
  margin: 0;
  padding: 0;

}

body {
  color: black;
}
hr{
  border-top: 1px solid white;
}
/*TITLES/SUBTITLES*/
.titles{
  color: black;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;

}
.content{
  max-width: 900px;
  margin: auto;
  background-color: #d1d1d1;
  border:  20px solid #d1d1d1; 
  box-shadow: 20px 20px 20px 10px grey;
}
.content2{
  max-width: 900px;
  background-color:  #17252a;
  border:  20px solid #17252a;
}

/*START COLORS*/
.circle1 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color: #17252a; 
  margin-bottom: 0px;
  margin-left:0px;
  text-align: center;
  border: 5px solid #17252a;
}
.circle2 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color: #2b7a78; 
  margin-top: -160px;
  margin-left:120px;
  text-align: center;
  border: 5px solid #2b7a78;
}
.circle3 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color:#3aafa9; 
  margin-top: -160px;
  margin-left: 240px;
  text-align: center;
  border: 5px solid #3aafa9;
}
.circle4 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color: #def2f1; 
  margin-top: -160px;
  margin-left: 360px;
  text-align: center;
  border: 5px solid #def2f1;
}
.circle5 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color: #feffff; 
  margin-top: -160px;
  margin-left: 480px;
  text-align: center;
  border: 5px solid  #feffff;
}
.circle6 {
  width: 100px;
  height: 150px;
  position:relative; 
  background-color: #f58f7c; 
  margin-top: -160px;
  margin-left: 600px;
  text-align: center;
  border: 5px solid #f58f7c;
}
/*END COLORS*/

/*START HEADERS*/
.header1{
  color: #17252a;
  font-family: FuturaPT,sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.header1-2{
  color: #feffff;
  font-family: FuturaPT,sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.header2{
  letter-spacing: .5px;
  font-family: nimbus-sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #feffff; 
}
.header2-2{
  letter-spacing: .5px;
  font-family: nimbus-sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #f58f7c; 
}
.header2-3{
  letter-spacing: .5px;
  font-family: nimbus-sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #3aafa9; 
}
.header2-4{
  letter-spacing: .5px;
  font-family: nimbus-sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color:#def2f1 ; 
}
.header3{
  color: #444;
}
/*END HEADERS*/

/*START BODY TEXT*/
.bodytext{
  font-family: nimbus-sans, sans-serif;
  font-size: 18px; 
  color: white; 
  /* margin-right: 300px;*/
}
.bodytext2{
  font-family: nimbus-sans, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #2b7a78; 
  /* margin-right: 300px;*/
}
/*END BODY TEXT*/

/*START BUTTON*/
.buttonactive {
  border: 2px solid #3aafa9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.buttoninactive {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}
.button1 {
  background-color: #feffff; 
  color: #17252a; 
}
.button1:hover {
  background-color: #f58f7c;
  color: #def2f1;
}
.button2 {
  background-color: #def2f1; 
  color: #2b7a78; 
}
.button2:hover {
  background-color: #17252a;
  color: #f58f7c;
}
/*END BUTTON*/

/*START TEXT LINK*/
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: #f58f7c;
}
a:hover {
  color: #def2f1;
}
/*END TEXT LINK*/

/*START INPUT*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.links{
  display: inline-block;
}
#active{
  border: 2px solid #3aafa9;
}
#error{
  border: 2px solid red;
  background-color: #e1c1c1;
}
#success{
  border: 2px solid #54c078;
  background-color: #b9dfc6;
}
/*END INPUT*/